#u5664,#u5665
{
	background-color: transparent;
}

#u5668
{
	vertical-align: top;
	background: transparent url("../images/u5668.png") no-repeat 0px 0px;
}

#u5665:hover #u5668
{
	background: transparent url("../images/u5668-r.png") no-repeat 0px 0px;
}

#u5665.MuseMenuActive #u5668
{
	background: transparent url("../images/u5668-a.png") no-repeat 0px 0px;
}

#u5643,#u5646
{
	background-color: transparent;
}

#u5648
{
	vertical-align: top;
	background: transparent url("../images/u5648.png") no-repeat 0px 0px;
}

#u5646:hover #u5648
{
	background: transparent url("../images/u5648-r.png") no-repeat 0px 0px;
}

#u5646.MuseMenuActive #u5648
{
	background: transparent url("../images/u5648-a.png") no-repeat 0px 0px;
}

#u5650,#u5651
{
	background-color: transparent;
}

#u5652
{
	vertical-align: top;
	background: transparent url("../images/u5652.png") no-repeat 0px 0px;
}

#u5651:hover #u5652
{
	background: transparent url("../images/u5652-r.png") no-repeat 0px 0px;
}

#u5651.MuseMenuActive #u5652
{
	background: transparent url("../images/u5652-a.png") no-repeat 0px 0px;
}

#u5636,#u5639
{
	background-color: transparent;
}

#u5642
{
	vertical-align: top;
	background: transparent url("../images/u5642.png") no-repeat 0px 0px;
}

#u5639:hover #u5642
{
	background: transparent url("../images/u5642-r.png") no-repeat 0px 0px;
}

#u5639.MuseMenuActive #u5642
{
	background: transparent url("../images/u5642-a.png") no-repeat 0px 0px;
}

#u5657,#u5660
{
	background-color: transparent;
}

#u5661
{
	vertical-align: top;
	background: transparent url("../images/u5661.png") no-repeat 0px 0px;
}

#u5660:hover #u5661
{
	background: transparent url("../images/u5661-r.png") no-repeat 0px 0px;
}

#u5660.MuseMenuActive #u5661
{
	background: transparent url("../images/u5661-a.png") no-repeat 0px 0px;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u6424
{
	background: transparent url("../images/newer%20logo.png") no-repeat left top;
	background-size: contain;
}

#menuu5635,#u6253
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u6056
{
	border-width: 0px;
	border-color: transparent;
	background: #FF0000 url("../images/twitter.png") no-repeat center center;
}

#u6056:hover
{
	background: #000000 url("../images/twitter.png") no-repeat center center;
}

#u6065
{
	border-width: 0px;
	border-color: transparent;
	background: #FF0000 url("../images/youtube.png") no-repeat center center;
}

#u6065:hover
{
	background: #000000 url("../images/youtube.png") no-repeat center center;
}

#u6071
{
	border-width: 0px;
	border-color: transparent;
	background: #FF0000 url("../images/soundcloud-logo-psd47614.png") no-repeat center center;
	background-size: contain;
}

#u6071:hover
{
	background: #000000 url("../images/soundcloud-logo-psd47614.png") no-repeat center center;
	background-size: contain;
}

