#u6268:active,#u5935
{
	border-color: #999999;
	background-color: transparent;
}

#u5935:hover
{
	border-color: #999999;
	background-color: transparent;
}

#u6037
{
	display: block;
	vertical-align: top;
}

#u5935:active,#u6268,#u6268:hover
{
	border-color: #999999;
	background-color: transparent;
}

#u5896
{
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.9);
	-pie-background: rgba(255,255,255,0.9);
}

#u5921
{
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	border-width: 0px 0px 1px;
}

#u5923-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	text-align: center;
	font-family: maven-pro, sans-serif;
	font-weight: 500;
}

#u5916
{
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	border-width: 0px 0px 1px;
}

#u5917-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	text-align: center;
	font-family: maven-pro, sans-serif;
	font-weight: 500;
}

#u5928
{
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	border-width: 0px 0px 1px;
}

#u5929-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	text-align: center;
	font-family: maven-pro, sans-serif;
	font-weight: 500;
}

#u5900
{
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	border-width: 0px 0px 1px;
}

#u5903-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	text-align: center;
	font-family: maven-pro, sans-serif;
	font-weight: 500;
}

#u5909
{
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	border-width: 0px 0px 1px;
}

#u5921.MuseMenuActive,#u5916.MuseMenuActive,#u5928.MuseMenuActive,#u5900.MuseMenuActive,#u5909.MuseMenuActive
{
	border-color: #37C5C5;
	background-color: transparent;
}

#u5910-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	text-align: center;
	font-family: maven-pro, sans-serif;
	font-weight: 500;
}

#u5921.MuseMenuActive #u5923-4 p,#u5916.MuseMenuActive #u5917-4 p,#u5928.MuseMenuActive #u5929-4 p,#u5900.MuseMenuActive #u5903-4 p,#u5909.MuseMenuActive #u5910-4 p
{
	color: #37C5C5;
	visibility: inherit;
}

#u5894
{
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	border-width: 0px 0px 1px;
}

#u5895-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #37C5C5;
	text-align: center;
	font-size: 22px;
	line-height: 31px;
	font-family: maven-pro, sans-serif;
	font-weight: 500;
}

.MenuItem,.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* unifiedNavBar */
{
	cursor: pointer;
}

#u6413
{
	background: transparent url("../../images/newer%20logo.png") no-repeat left top;
	background-size: contain;
}

#u5897,#menuu5898,#u6276,#u6375
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u6044
{
	vertical-align: top;
	background: transparent url("../../images/shopping%20cart-u6044.png") no-repeat 0px 0px;
}

#u6044:hover
{
	background: transparent url("../../images/shopping%20cart-u6044-r.png") no-repeat 0px 0px;
}

#u6044.MuseLinkActive
{
	background: transparent url("../../images/shopping%20cart-u6044-a.png") no-repeat 0px 0px;
}

#u5920,#u5913,#u5927,#u5899,#u5906,#u6351
{
	background-color: transparent;
}

#u6047
{
	border-width: 0px;
	border-color: transparent;
	background: transparent url("../../images/twitter.png") no-repeat center center;
}

#u6047:hover
{
	background: #239BC6 url("../../images/twitter.png") no-repeat center center;
}

#u6050
{
	border-width: 0px;
	border-color: transparent;
	background: transparent url("../../images/youtube.png") no-repeat center center;
}

#u6050:hover
{
	background: #239BC6 url("../../images/youtube.png") no-repeat center center;
}

#u6053
{
	border-width: 0px;
	border-color: transparent;
	background: transparent url("../../images/soundcloud-logo-psd47614.png") no-repeat center center;
	background-size: contain;
}

#u6053:hover
{
	background: #239BC6 url("../../images/soundcloud-logo-psd47614.png") no-repeat center center;
	background-size: contain;
}

